* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --text: #E3C75F; 
    --text-border: #CC8D1A;
    --text-blue: #16232E;
    --background-main: #16232E;
    --background-button: #CC8D1A;
    --background-screen: #164C45;
    --background-blur-title: rgba(97, 95, 102, 0);
    --background-blur-title-mobile: rgba(40, 35, 49, 0.575);
}

body, button {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: var(--text);
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/backgroundBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.banner .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 2rem;
    max-width: 50%;
    background: var(--background-blur-title);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    border: 1px solid var(--text);
}

.banner .title h1 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-size: 7rem;
    line-height: 7rem;
    -webkit-text-stroke: 2px var(--text-border);
}

.banner .title h2 {
    font-size: 3rem;
}

.banner .title p {
    font-size: 2.2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-main);
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
}

/*screen1*/
.screen1 {
    text-align: center;
    width: min(42.8rem, 90%);
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.80);
    background-color: var(--background-screen);
}
.screen1 h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.screen1 p {
    margin-bottom: 2rem;
}

/* screen2 */
.screen2 {
    text-align: center;
    width: min(42.8rem, 90%);
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.80);
    background-color: var(--background-screen);
}

.screen2 h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.screen2 .message {
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    background: var(--background-button);
    box-shadow: .2rem .2rem .2rem 0 rgba(85, 85, 85, 0.50);
}

.screen2 p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-blue);
}

.screen2 img {
    margin-bottom: 3rem;
}

.screen2 button {
    font-weight: 600;
    color: var(--text-blue);
    padding: 1.6rem;
    border: none;
    border-radius: 1rem;
    background: var(--background-button);
}

.screen2 button:hover {
    scale: 1.05;
}

.hide {
    display: none;
}

@media (max-width:768px) {
    .banner .title {
        padding: 1rem;
    }
    
    .banner .title h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .banner .title h2 {
        font-size: 2.2rem;
    }
    
    .banner .title p {
        font-size: 1.8rem;
    }

    .screen2 {
        padding: 3rem 2rem;
    }
}

@media (max-width:500px) { 
    .banner {
        justify-content: center;
    }
    .banner .title {
        max-width: 100% ;
        background: var(--background-blur-title-mobile);
        backdrop-filter: blur(10px);
        border-radius: 1rem;
    }

    .screen1 {
        padding: 3rem 2rem;
    }

    .screen1 img {
        width: 20rem;
    }

    .screen2 img {
        width: 24rem;
    }
}

/* Animations */

.screen2 .message {
    animation: move 1.5s, grow 2s;
    --startY: 50rem;
    --finishY: 0
}

@keyframes move {
    from {
        transform: translateY(var(--startY));      
    }
    to {
        transform: translateY(var(--finishY));
    }
}

@keyframes grow {
    from {
        visibility: 0;
        scale: 0.3;
    }
    to {
        visibility: 1;
        scale: 1;
    }
}

#btnClick:hover {
    animation: vibrate 0.15s;
    animation-iteration-count: infinite;
}

@keyframes vibrate {
    0% {
      margin-left: 0;
    }
    25% {
      margin-left: 1rem;
    }
    50% {
      margin-left: 0;
    }
    75% {
      margin-left: -1rem;
    }
    100% {
      margin-left: 0;
    }
  }

